.phone_mask_mode {
    padding: 5px 0 0 0;
}
.phone_mask_mode label {
    margin-right: 40px;
}
.phone_mask_mode .input {
    margin-top: 7px;
}
#menu-catalog{
	width: 440px !important;
}
#menu-catalog li{
	width: 50%;
	float: left;
}
.cont img{
	max-width: 100%;
}
.contakt-gallery li{
	display: block;
	float: left;
	width: 50%;
	box-sizing: border-box;
    padding: 0 10px;
    list-style: none;
}
@media (max-width: 425px){
	.contakt-gallery li{
		width: 100%;
		margin-bottom: 10px;
	}
}
.contakt-gallery li a{
	display: block;
	width: 100%;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
}
.clear-fix{
	clear: both;
}
#menu-catalog{
	padding: 20px;
}
#menu-catalog ul li{
	background: none;
	height: auto;
}
#menu-catalog ul li a{
	height: auto;
	line-height: 2em;
}