/*.bx_ordercart.bx_blue .bx_ordercart_order_pay_center .checkout{
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2df), color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:     -o-linear-gradient(top, #00a2df 0%,#006fcb 100%);
	background:        linear-gradient(to bottom, #00a2df 0%,#006fcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#006fcb',GradientType=0 );
	color:#fff;
	text-shadow:0 1px 0 #0075b6;
}
.bx_ordercart.bx_blue .bx_ordercart_order_pay_center .checkout:hover{
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTdkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a2df), color-stop(100%,#0a7ddd));
	background:-webkit-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:   -moz-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:    -ms-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:     -o-linear-gradient(top, #00a2df 0%,#0a7ddd 100%);
	background:        linear-gradient(to bottom, #00a2df 0%,#0a7ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#0a7ddd',GradientType=0 );
}
.bx_ordercart.bx_blue .bx_ordercart_order_pay_center .checkout:active{
	background:#0a7ddd;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhN2RkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a7ddd), color-stop(100%,#00a2df));
	background:-webkit-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:   -moz-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:    -ms-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:     -o-linear-gradient(top, #0a7ddd 0%,#00a2df 100%);
	background:        linear-gradient(to bottom, #0a7ddd 0%,#00a2df 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a7ddd', endColorstr='#00a2df',GradientType=0 );
	box-shadow:inset 0 3px 2px 1px rgba(0,0,0,.22);
}*/

.bx_ordercart.bx_blue .bx_bt_button  				{
	display: inline-block;
	height: 50px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px dashed #fff;
	background: #ff9900;
	padding: 0 45px;
	color: #fff;
	font: 30px Engine;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.bx_ordercart_order_pay_left{
	float: left;
}
.bx_ordercart_order_pay{
	margin-bottom: 40px;
}
/*.bx_ordercart.bx_blue .bx_bt_button:hover  		{
	background:#21afe4;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYWZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#21afe4), color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:     -o-linear-gradient(top, #21afe4 0%,#006fcb 100%);
	background:        linear-gradient(to bottom, #21afe4 0%,#006fcb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#21afe4', endColorstr='#006fcb',GradientType=0 );
}
.bx_ordercart.bx_blue .bx_bt_button:active  		{
	background:#006fcb;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#006fcb), color-stop(100%,#00a2df));
	background:-webkit-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:   -moz-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:    -ms-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:     -o-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:        linear-gradient(to bottom, #006fcb 0%,#00a2df 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fcb', endColorstr='#00a2df',GradientType=0 );
	box-shadow:inset 0 3px 5px 0 rgba(0,0,0,.21);
}*/
.bx-retina .bx_ordercart.bx_blue .bx_item_detail_size_small_noadaptive ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx-retina .bx_ordercart.bx_blue .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_ordercart_coupon #coupon{
	border-radius: 3px;
	background: #fff;
	border: 1px solid #ebbfa5;
	padding: 0 12px;
	height: 35px;
	width: 385px;
	color: #666;
	font: 14px Roboto;}
.bx_ordercart .bx_ordercart_coupon{
	position: relative;
	white-space: nowrap;
	margin-bottom: 4px;
}
.bx_ordercart .bx_ordercart_coupon span{
	display:block;
	margin-bottom:13px;
	color:#7f7f7f;
	font-size:13px;
}
.bx_ordercart .bx_ordercart_coupon input{
	height:34px;
	border:1px solid #bababa;
	border-radius:3px;
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.21);
	color:#000;
	text-align:left;
	font-weight:bold;
	font-size:16px;
	vertical-align: middle;
	outline: none !important;
}

.bx_ordercart .bx_ordercart_coupon span.good,
.bx_ordercart .bx_ordercart_coupon span.bad,
.bx_ordercart .bx_ordercart_coupon span.disabled{
	display: inline-block;
	width:22px;
	height:34px;
	vertical-align: middle;
	margin: 0 0 0 5px;
	cursor: pointer;
}
.bx_ordercart .bx_ordercart_coupon span.disabled:hover{cursor:pointer}
.bx_ordercart .bx_ordercart_coupon input.good{
	position: relative;
	border:1px solid #59a62a;
	background:rgba(89,166,42,.16);
	box-shadow:0 0 2px 0 rgba(89,166,42,.8);
}
.bx_ordercart .bx_ordercart_coupon span.good{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAANCAYAAABPeYUaAAAAoklEQVQ4y2NgIBOUb7JkY6AEAA0wBuJHQGxHrgFWQPwBiP8D8WcgliTVAHuoRpAB/4A4E10BDwED3ID4K9SAP0CciK7ACYhfg2gcBvgA8Q8kA6LQFQgB8Seogq/oBgH5QUD8EyoPooNwOTUMagOKQSAbkcRBLvEhFGjoBvWi8V2JDX1kg2AY5FV7UqMR2SBQerAkN0GBDHoJSpmUJm1uYtUCAMzalTMY8Lf6AAAAAElFTkSuQmCC") no-repeat center;
}
.bx_ordercart .bx_ordercart_coupon input.bad{
	border:1px solid #e16565;
	background:rgba(225,101,101,.16);
	box-shadow:0 0 2px 0 rgba(225,101,101,.8);
}
.bx_ordercart .bx_ordercart_coupon span.good:hover,
.bx_ordercart .bx_ordercart_coupon span.bad,
.bx_ordercart .bx_ordercart_coupon span.disabled{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjA2QzFEQUU3QTJEMTFFNEJFMTJEMjJGMUE4MkZDRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjA2QzFEQUY3QTJEMTFFNEJFMTJEMjJGMUE4MkZDRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2MDZDMURBQzdBMkQxMUU0QkUxMkQyMkYxQTgyRkNGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2MDZDMURBRDdBMkQxMUU0QkUxMkQyMkYxQTgyRkNGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuRKTjMAAAC1SURBVHjaXJAhEsIwEEWTDiCoAa6CBtUKEAxHwAfHGSpxySWqUFQUh+YG3AEMOvxlfmf+kJmXnXRftr/1McaDc+4M9iGEu5OVUlqhXMCpwNaABejYUKljrxlh24EbmFHeomZKJXiZ43POdnsp8odDB6lGpMdP5KtUdirZoZDsNmEs5wmYDoeC09YoV8pvUuoHevyef6nikB7MmXljE1sJXlkm5qr5zHqtiQE8Nbgtka13/AowAFzKRSz6AcYPAAAAAElFTkSuQmCC") no-repeat center;
}
.bx_ordercart .bx_ordercart_coupon span.bad:hover{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAMAAAA4Nk+sAAAA1VBMVEXVLy/VMTHWMjLWMzPWNDTWNjbXODjXOjrXOzvYPT3YPz/ZQUHZQ0PaRkbaR0faSEjbTEzbTU3bTk7bT0/dWFjdWVneW1veXV3fYWHfYmLgY2PgZGTgZWXgZmbibW3ib2/jc3Pjd3flfX3lf3/mgYHojo7oj4/rm5vrnZ3soKDtpKTtpqbuqanura3wsrLxuLjxurr42tr43Nz43t754uL54+P76ur76+v77Oz87u787+/88PD88fH88vL99PT99fX99vb++Pj++fn++vr+/Pz//f3////hD3ITAAAA4klEQVQoU2XR2VrCMBRF4YWCAwIiGg1OYHGsI1qrNalGpef9H8mLNvlKXTfJ/m8P4iusWYRB+bxeH7ShvX+V1Nier1DVmhnP8wG1hs8lzzdZauNFBPnaodEwF+SiqXApfHQAIqMBtIkAOim3AKTiNGgnKQA3nAKgcnFj7cQqAE7YJnhQeqwRPCgt1qvf2Ik4XY1VRkHzPPiAs6BKWe8THgB4F6tAWXkD4B7XBZgmCkAlU4DuJxLzr1iQQtPo8FcQyXaXdZSVZ8iO6nps/NGKu57HrXhRO/HP00z1+3vR43e5/wBykDHWjqbzywAAAABJRU5ErkJggg==") no-repeat center;
}
.bx_ordercart .bx_ordercart_coupon input.disabled{
	color: #9a9a9a;
}
.bx_ordercart .bx_ordercart_coupon_notes{
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
	display: none;
	opacity: 0;
	white-space: normal;
	border: 1px solid #ddd;
	position: absolute;
	top: 100%;
	left: 0;
	max-width: 270px;
	padding: 10px;
	background: #fff;
	z-index: 1010;
	border-radius: 5px;
	font-size: 13px;
	line-height: 17px;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,.05)
}
.bx_ordercart .bx_ordercart_coupon:hover .bx_ordercart_coupon_notes{
	display: block;
	opacity: 1;
}
.bx-touch .bx_ordercart .bx_ordercart_coupon_notes{
	display: block;
	opacity: 1;
	position: relative;
	top: auto;
	left: auto;
	margin: 10px auto;
	box-shadow: none
}
/**/
.bx_ordercart  .bx_bt_button{
	display:inline-block;
	border-radius:3px;
	text-align:center;
	border: none;
	vertical-align: middle;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}



.bx_ordercart .bx_small.bx_bt_button{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}

.bx_ordercart .bx_medium.bx_bt_button	{
	padding:0 13px;
	font-weight:bold;
	height:27px;
	line-height:27px;
}
.bx_big.bx_bt_button{
	padding:0 13px;
	font-weight:bold;
	height:36px;
	line-height:36px;
}
.price .old_price{
	text-decoration: line-through;
}
p.title {	
	color: #666;
	font: 700 18px/18px Roboto;
	margin-bottom: 17px;
}